body{
	font-family: Verdana;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	min-width: 825px;
}

#header{
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	color: #333;
}
#logo{
	float: left;
	overflow: hidden;
	width: 30%;
}
#header img{
	width:100%;
}
#navigation {
	margin-top: 30px;
	float: right;
	overflow: hidden;
}
#navigation a{
	text-decoration: none;
	color: #333;
}
#signin{
	font-size: 70%;
	text-decoration: none;
}
#navigation .user{
	font-size: 70%;
	color: #333;
}
#clear{
	clear: float;
}
#header ul{
	padding: 0px;
	margin: 0px;

}
#header li{
	line-height: 2.2em;
	padding-left: 15px;
	padding-bottom: 0px;
	text-transform: uppercase;
	display: inline;
	position: relative;
}
