body{
	font-family: Verdana;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	min-width: 825px;
}
#content{
	overflow: hidden;
	background-color: #2A2F2A;
	background: -webkit-linear-gradient(top, #337eae, #7ab0d3);
	background: -moz-linear-gradient(top, #337eae, #7ab0d3);
	margin: 3%;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 5px #dce9f1;
	-moz-box-shadow: 10px 10px 5px #dce9f1;
}
#form{
	padding: 2%;
	padding-left: 5%;
	padding-bottom: 5%;
	float: left;
	overflow: hidden;
	color: #FFFFFF;
	width: 50%;

}
#form label{
	color: #FFFFFF;
	text-align: right;
	float: left;
	display: block;
	width: 20%;

}
form input[type="text"]{
	background: #FFFFFF;
	margin-left: 10px;
	margin-bottom: 5px;
	border: 3px inset;
}
form input[type="password"]{
	background: #FFFFFF;
	margin-left: 10px;
	margin-bottom: 5px;
	border: 3px inset;
}
form input[type="submit"]{
	margin-top: 10px;
	margin-left: 23%;
	border-radius: 3px;
	/*-webkit-box-shadow: 1px 1px 0.5px #FFFFFF;
	-moz-box-shadow: 1px 1px 0.5px #FFFFFF;*/
}
#link{
	text-decoration: none;
	border: none;
	background: none;
	color: #FFFFFF;
	cursor: pointer;
	margin-left: 2%;

}
#message{
	float: right;
	overflow: hidden;
	color: #FFFFFF;
	width: 40%;
	margin-top: 5%;
}
#message p{
	font-size: 95%;
}
.clear{
	clear: float;
}
.error{
	color: red;
	font-size: 75%;
	margin-left: 90px;
}
