/*    
Homework 8, hw8.css
Jino Park
*/

body 
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF9D6;
}

div.container{
	color: #FFF9D6;
	margin-top: 15px;
 	padding: 10px;
	background-color: #5D5553;
	border-width: 10px;
	border-style: groove;
	border-color: #9E0A39;
	width:70%;
	margin-right: auto;
	margin-left: auto;
}
img{
	height: 50px;
	width: 50px;
	padding-left:20%;
}
table,td
{
border:3px solid black;
}
